[submodule "main-server"]
	path = main-server
	url = git@github.com:CSKU-Lab/main-server
[submodule "go-grader"]
	path = go-grader
	url = git@github.com:CSKU-Lab/go-grader
[submodule "config-server"]
	path = config-server
	url = git@github.com:CSKU-Lab/config-server
[submodule "task-server"]
	path = task-server
	url = git@github.com:CSKU-Lab/task-server
[submodule "isolate-docker"]
	path = isolate-docker
	url = git@github.com:CSKU-Lab/isolate-docker
[submodule "web"]
	path = web
	url = git@github.com:CSKU-Lab/web.git
[submodule "api-docs"]
	path = api-docs
	url = git@github.com:CSKU-Lab/api-docs.git
